/*
 * Clases reutilizables para el proyecto
 * (Aquí pueden ir las clases de tu grid)
 */

.mb-0 {
  margin-bottom: 0;
}

.mt-0{
  margin-top: 0;
}

.text-uppercase {
  text-transform: uppercase;

}

.link {
  font-weight: 700;
  padding: 21px;
  display: inline-block;
}

header {
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
}

.menu{
  padding: 14px 70px;
  overflow: auto;
}

#home {
  background-image: url(../assets/images/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 554px;
  text-align: center;
  margin-top: 80px;
}

.logo {
  float: right;
}
#home .container {
  color: white;
  padding: 70px;
}

.btn-home {
  background: #2ECC71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase; /*convierte a mayusculas*/
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;

}


#services {
  background-color: #F17C72;
  text-align: center;
  color: #fff;
  padding: 70px 7px;

}

.box-services {
  display: inline-block;
  width: 30%;
  margin-top: 63px;
}

.text-services {
  font-size: 35px;
  letter-spacing: 2px; /*espacio entre cada letra*/

}

footer {
  text-align: center;
  height: 70px;
  background: #373B47;
  color: white;
  padding-top: 7px;
}



[class*="col-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}
.row {
  clear: both;
}


/*creamos las clases para las columnas*/
.col-1{
  /*se realiza la operacion (n/12)*100*/
  width: 8.333%;
}

.col-2{
  /*se realiza la operacion (n/12)*100*/
  width: 16.666%;
}
.col-3{
  /*se realiza la operacion (n/12)*100*/
  width: 25%;
}
.col-4{
  /*se realiza la operacion (n/12)*100*/
  width: 33.33%;
}
.col-5{
  /*se realiza la operacion (n/12)*100*/
  width: 41.666%;
}
.col-6{
  /*se realiza la operacion (n/12)*100*/
  width: 50%;
}.col-7{
  /*se realiza la operacion (n/12)*100*/
  width: 58.333%;
}.col-8{
  /*se realiza la operacion (n/12)*100*/
  width: 66.666%;
}.col-9{
  /*se realiza la operacion (n/12)*100*/
  width: 75%;
}
.col-10{
  /*se realiza la operacion (n/12)*100*/
  width: 83.333%;
}
.col-11{
  /*se realiza la operacion (n/12)*100*/
  width: 91.666%;
}
.col-12{
  /*se realiza la operacion (n/12)*100*/
  width: 100%;
}

.centrar{
  text-align: center;


}
/*se centra la imagen hero*/
.imagenT {
  width: 70%;
  margin-left: 16%;
}
